body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  text-align: center;
}
#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
}